<%- include('./partials/header.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="../stylesheets/profile.css">
      <div id="navbar">
          <nav>
              <a href=""><i class="ri-home-7-line"></i><li>Home</li></a>
              <a href=""><i class="ri-hashtag"></i><li>Explore</li></a>
              <a href=""><i class="ri-notification-line"></i><li>Notification</li></a>
              <a href=""><i class="ri-message-2-line"></i><li>Message</li></a>
              <a href=""><i class="ri-bookmark-line"></i><li>Bookmark</li></a>
              <a href=""><i class="ri-profile-line"></i><li>Profie</li></a> 
              <a href="/logout"><i class="ri-logout-circle-r-fill"></i><li>Logout</li></a>       
          </nav>
      </div>
      <div id="Mcontent">
        <div id="ppic">
        </div>
      </div>
      <div id="pd">
          <div id="detils">
              <h1>Login Task ! Complete</h1>
          </div>
          <div id="tweet"></div>
          <div id="log"></div>
      </div>
    </div>
 
<%- include('./partials/footer.ejs') %>